.wrapper {
  background-color: #f5f5f5;
  .container {
    .statistics {
      height: 200px;
      background-color: rgb(0, 129, 145);
      display: flex;
      justify-content: center;
      align-items: center;

      .mat-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mat-list-item {
          margin: 0 20px;
          color: whitesmoke;

          .mat-icon {
            font-size: 30px;
          }

          h3 {
            font-family: Muli-bold, sans-serif;
            font-size: 22px;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }

    .products {

      .picture {
        //width: content-box;
        height: 400px;

        img {
          max-height: 100%;
          //max-width: 100%;
        }
      }
    }
    .more-work-button {
      height: 80px;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-transform: uppercase;
        color: #7f7f7f;
      }
      a:hover {
        font-weight: bold;
      }
    }
  }
}

