<div class="footer-wrapper">
  <div class="footer-container">
    <div class="coryright">
      <h3>Design Studio Inc.</h3>
      <p>&copy; 2019 DS. All rights </p>
    </div>
    <div class="contacts">
      <p>email@email.com</p>
      <p>+77 888 999 555</p>
    </div>
    <ul class="usefullinks">
      <li><a [routerLink]="['/system', 'projects-page']">Projects</a></li>
      <li><a [routerLink]="['/system', 'about-page']">About</a></li>
      <li><a routerLink=".">Services</a></li>
      <li><a routerLink=".">Career</a></li>
      <li><a routerLink=".">News</a></li>
      <li><a routerLink=".">Events</a></li>
      <li><a [routerLink]="['/system', 'contact-page']">Contact</a></li>
      <li><a routerLink=".">Legals</a></li>
    </ul>
    <ul class="socialmedia">
      <li><a routerLink=".">Facebook</a></li>
      <li><a routerLink=".">Twitter</a></li>
      <li><a routerLink=".">Instagram</a></li>
    </ul>
  </div>
</div>
