.wrapper {
  height: 400px;
  display: flex;
  align-items: center;
  background: url("../../../../assets/desk.PNG") no-repeat no-repeat right rgb(250, 231, 230);
  background-size: contain;
  .container {
    margin: 0 auto;
    width: 1140px;
    padding: 20px;
    font-family: 'Muli-bold', sans-serif;
    color: #4a4a4a;

    .progress-bars {

      width: 650px;
      h2 {
        margin-bottom: 30px;
      }

      p {
        margin: 15px 0 10px 0;
        text-transform: uppercase;
      }
    }
  }
}
@media screen and (max-width: 768px) {

  .container {
    width: 768px;
    .progress-bars {

      width: 550px;

      mat-progress-bar {
        width: 500px;
      }
    }
  }

}
