.wrapper {
  height: 100vh;
  background: url("../../../../assets/bg_small.jpg") no-repeat no-repeat left rgb(240, 241, 245);
  background-size: cover;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 1140px;
    display: flex;
    justify-content: flex-end;

    .content {
      width: 440px;
      margin-right: 40px;

      h1, h3 {
        font-family: 'Muli-bold', sans-serif;
      }

      h1 {
        color: rgb(0, 151, 167);
      }

      h3 {
        margin: 30px 0 20px 0;
      }
      p {
        font-size: 18px;
      }

      .btn {
        text-transform: uppercase;
        margin-top: 20px;
        padding: 10px 20px;
      }
    }
  }
}


