.wrapper {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;

  .photo-section {
    height: 450px;
    background: url("../../../assets/about_small.jpg") no-repeat no-repeat center;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    p {
      margin-top: 20px;
      font-size: 20px;
    }
  }

  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);

    .picture {
      width: 700px;
      height: fit-content;
      margin-right: 40px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .description {
      width: 600px;
    }
  }

  .contact-us {
    padding: 20px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .btn {
      text-transform: uppercase;
      margin-top: 20px;
      padding: 10px 20px;
    }
  }
}
