<div class="wrapper">
  <div class="photo-section">
    <h2>Design Studio</h2>
    <p>Lorem ipsum dolor sit amet, adipisicing elit. Blanditiis laborum quis rem <br>
      veniam! Dolorum ea esse in nostrum reiciendis reprehenderit? Asperiores commode!</p>
  </div>

  <app-statistics></app-statistics>

  <div class="about-us">
    <div class="picture">
      <img alt="Flower" src="../../../assets/bg2.jpg">
    </div>

    <div class="description">
      <h3>About Us</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi modi odio saepe unde voluptatum. Dicta dolor
        dolore hic illum inventore maiores.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad atque autem commodi cumque dolore earum ipsa
        ipsum magni modi mollitia non numquam, possimus praesentium quae quia ratione repudiandae voluptate!</p>
    </div>
  </div>
  <div class="contact-us">
    <h3>Need a Project?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur cumque dolor ea enim explicabo id
      impedit iure,<br>
      laboriosam libero neque nostrum numquam optio placeat tene.</p>
    <button
      [routerLink]="['/system', 'contact-page']"
      class="btn"
      color="primary"
      mat-raised-button>
      Let's Talk
    </button>
  </div>
</div>

