.wrapper {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 1140px;
    display: flex;
    margin: 180px 0 40px 0;
    flex-direction: column;

    .contact-info-wrap {
      display: flex;
      justify-content: space-between;

      .contact-info {
        width: 500px;
        margin-right: 40px;

        h2 {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 10px;

          span {
            font-weight: bold;
          }
        }
      }
    }

    #layer {
      margin-top: 30px;
      height: 350px;
      width: 100%;
    }
  }
}

