<div class="wrapper">
  <div class="container">
    <div class="contact-info">
      <h2>Contact Info</h2>
      <p>Lorem ipsum dolor sit amet, consectetur. Architecto autem ducimus error facilis fuga, itaque labore libero
        minus necessitatibus nihil nulla omnis pariatur porro possimus quasi, quia quod recusandae vitae?</p>
      <p><span>Address: </span>1100110 Architecto autem, USA</p>
      <p><span>Phone: </span>+77 888 999 555</p>
      <p><span>Email: </span>email@email.com</p>
    </div>
    <app-feedback-form></app-feedback-form>
  </div>
</div>
