.wrapper {
  background-color: rgb(240, 241, 245);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 1140px;
    color: #4a4a4a;
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 180px 0 40px 0;

    .contact-info {
      width: 500px;
      margin-right: 40px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

