.wrapper {
  height: 200px;
  background-color: #313131;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;

  .container {
<<<<<<< HEAD
    width: 1140px;
    display: flex;
    justify-content: space-between;
=======
    width: 940px;
    display: flex;
    justify-content: space-around;
>>>>>>> c675c1f8e59440895599c46fddf95da16b26e3e0
    align-items: flex-start;
    padding: 20px;

    h3 {
      margin-bottom: 10px;
    }

    .usefullinks {
      columns: 2;
<<<<<<< HEAD

=======
>>>>>>> c675c1f8e59440895599c46fddf95da16b26e3e0
      li {
        margin: 0 10px;
      }
    }
<<<<<<< HEAD
  }
}

li:hover {
  font-weight: bold;
=======


  }
>>>>>>> c675c1f8e59440895599c46fddf95da16b26e3e0
}
