<div class="wrapper">
  <div class="container">
    <h2>Our Work Process</h2>
    <p>Lorem ipsum dolor sit, consectetur adipisicing elit. Alias, aut commodi,<br>
      cupiditate ipsum iure magnam maxime nostrum placeat.</p>
    <video controls>
      <source src="../../../../assets/Video.webm" type="video/webm">
      <source src="../../../../assets/Video.mp4" type="video/mp4">
      <!--<source src="../../../../assets/Video.ogv" type="video/ogg">-->
      <!--<object data="../../../../assets/Video.swf" type="application/x-shockwave-flash">-->
        <!--<param name="movie" value="video.swf">-->
      <!--</object>-->
    </video>
    <p>Video by Cristian Dina from Pexels</p>
  </div>
</div>
