<div class="wrapper">
  <div class="container">
    <header>
      <div class="logo">
        <a [routerLink]="['/system', 'main-landing']">
          <img alt="logo" src="../../../../../assets/ds.PNG">
        </a>
      </div>
      <nav>
        <mat-list role="list">
          <mat-list-item [routerLink]="['/system', 'main-landing']" role="listitem" routerLinkActive="active">
            Home
          </mat-list-item>
          <mat-list-item [routerLink]="['/system', 'about-page']" role="listitem" routerLinkActive="active">
            About
          </mat-list-item>
          <mat-list-item [routerLink]="['/system', 'projects-page']" role="listitem" routerLinkActive="active">
            Work
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            Process
          </mat-list-item>
          <mat-list-item role="listitem" routerLinkActive="active">
            Services
          </mat-list-item>
          <mat-list-item [routerLink]="['/system', 'contact-page']" role="listitem" routerLinkActive="active">
            Contact
          </mat-list-item>
        </mat-list>
      </nav>
    </header>
  </div>
</div>
