<div class="wrapper">
  <div class="container">
    <header>
      <div class="logo">
        <a [routerLink]="['/system', 'main-landing']">
          <img alt="logo" src="../../../../../assets/ds.PNG">
        </a>
      </div>
      <nav>
        <mat-list role="list">
          <mat-list-item [routerLink]="['/system', 'about-page']" class="active-link" role="listitem">About</mat-list-item>
          <mat-list-item [routerLink]="['/system', 'projects-page']" role="listitem">Work</mat-list-item>
          <mat-list-item role="listitem">Process</mat-list-item>
          <mat-list-item role="listitem">Services</mat-list-item>
          <mat-list-item [routerLink]="['/system', 'contact-page']" role="listitem">Contact</mat-list-item>
        </mat-list>
      </nav>
    </header>
  </div>
</div>
