<div class="wrapper">
  <div class="container">
    <header>
      <div class="logo">
        <a [routerLink]="['/system', 'main-landing']">
          <img alt="logo" src="../../../../../assets/ds.PNG">
        </a>
      </div>
      <nav>
        <ul class="nav__list">
          <li [routerLink]="['/system', 'main-landing']" class="nav__item" routerLinkActive="active">
            Home
          </li>
          <li [routerLink]="['/system', 'about-page']" class="nav__item" routerLinkActive="active">
            About
          </li>
          <li [routerLink]="['/system', 'projects-page']" class="nav__item" routerLinkActive="active">
            Work
          </li>
          <li class="nav__item" routerLinkActive="active">
            Process
          </li>
          <li class="nav__item" routerLinkActive="active">
            Services
          </li>
          <li [routerLink]="['/system', 'contact-page']" class="nav__item" routerLinkActive="active">
            Contact
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
