<div class="wrapper">
  <form (ngSubmit)="onSubmit()" [formGroup]="profileForm">
    <div class="form-row">
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Your Name">
        <mat-error
          *ngIf="!profileForm.get('username').valid && profileForm.get('username').touched"
          class="help-block">Please enter your name
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Enter your email">
        <mat-error
          *ngIf="!profileForm.get('email').valid && profileForm.get('email').touched"
          class="help-block">Please enter a valid email
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field>
      <textarea formControlName="message" matInput placeholder="Your message" rows="6"></textarea>
      <mat-error
        *ngIf="!profileForm.get('message').valid && profileForm.get('message').touched"
        class="help-block">Please enter your message
      </mat-error>
    </mat-form-field>
    <button [disabled]="!profileForm.valid" color="primary" mat-raised-button type="submit">
      Send Message
    </button>
  </form>
</div>
