form {
  display: flex;
  flex-direction: column;
  min-width: 500px;

  .form-row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;

    .mat-form-field {
      width: 50%;
    }

    .mat-form-field:first-child {
      margin-right: 30px;
    }
  }

  button {
    width: fit-content;
    text-transform: uppercase;
    margin: 20px auto;
    padding: 10px 20px;
  }
}

