/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}


body {
  height: 100%;
  min-width: 100%;
  color: #4a4a4a;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

mat-list-item {
  border: none;
  outline: none;
}

@font-face {
  font-family: 'Muli';
  src: url('./font/Muli-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Muli-light';
  src: url('./font/Muli-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muli-bold';
  src: url('./font/Muli-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@import '~@angular/material/theming';
@include mat-core();


$primary: mat-palette($mat-cyan, 800, 200);
$warn: mat-palette($mat-pink, 500);
$accent: mat-palette($mat-orange, 200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
