/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Muli';
  src: url('./font/Muli-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'Muli-light';
  src: url('./font/Muli-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Muli-bold';
  src: url('./font/Muli-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@import '~@angular/material/theming';
@include mat-core();


<<<<<<< HEAD
$primary: mat-palette($mat-cyan, 700, 200);
$warn: mat-palette($mat-pink, 500);
=======
$primary: mat-palette($mat-cyan, 800, 200);
>>>>>>> c675c1f8e59440895599c46fddf95da16b26e3e0
$accent: mat-palette($mat-orange,200);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

